html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #09122C;
    margin: 0;
    flex-direction: column;
}

table, td, tr {
    border: 1px solid;
    border-collapse: collapse;
}

td {
    padding: 6px;
}